<ng-container *ngIf="pastLaunches$ | async as pastLaunches">
  <main>
    <section class="container">
      <div
        *ngFor="let launch of pastLaunches"
        [routerLink]="['/', launch.id]"
      >
        <div>

          <div style="display: flex">
            <p>{{ launch.mission_name }}</p>

            <p>&nbsp;-- {{ launch.rocket.rocket_name }}</p>
          </div>
          <!-- <img [src]="launch.links.flickr_images[0]" alt="{{ launch.mission_name }}"> -->
        </div>
      </div>
    </section>
  </main>
</ng-container>
